@import 'primeflex/src/_variables';
@import 'primeflex/src/_grid';
@import 'primeflex/src/_formlayout';
@import 'primeflex/src/_display';
@import 'primeflex/src/_text';
@import 'primeflex/src/flexbox/_flexbox';
@import 'primeflex/src/_spacing';
@import 'primeflex/src/_elevation';

$color: linear-gradient(
    45deg,
    rgba(106, 90, 255, 1) 0%,
    rgba(0, 211, 195, 1) 100%
);

#app {
    font-family: Aeonik, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.default-color {
    color: $color;
}

.default-background-color {
    background: $color !important;
}

.p-button-primary {
  color: white !important;
  font-weight: bold !important;
  background: #6a5aff !important;
  border-color: #6a5aff !important;

  &:hover {
    background: #00d3c3 !important;
    border-color: #00d3c3 !important;
  }
}